.claude
.editorconfig
.env.local
.env.*.local
.env.test
.git
.github
.php-cs-fixer.cache
.php-cs-fixer.dist.php
.phpunit.cache
AGENTS.md
CLAUDE.local.md
CLAUDE.md
Makefile
README.md
compose.override.yaml
compose.yaml
deptrac.yaml
docs
phpstan.dist.neon
phpunit.dist.xml
redocly.yaml
tests
var
vendor
